<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <p>Hey there,</p>
  <p>
        Thankful that you signed up here at PostureCheck.  You definitely will not regret it.  To activate your account, navigate back to the site "Account Activation" section and supply the activation code below to get going.
  </p>
   <%= @token %>
   <br /><br />
   <p>Thanks again,
   <br />
   <br /> 
   <span>mgmt</span>
   <br />
   <i>Check Posture, Drink Water</i>
   <br />
   
   </p>
</body>
</html>