<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <p>Hey there,</p>
  <p>
        Thanks for signing up here at PostureCheck.  To activate your account, navigate back to the site "Account Activation" section and supply the activation code below to get going.
  </p>
   <%= @token %>
   <br /><br />
   <p>Thanks again,
   <br />
   <br /> 
   <span>posturecheck.us</span>
   <br />
   <i>Check Posture, Drink Water</i>
   <br />
   
   </p>
</body>
</html>