<html>
    <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <div>
            <p>A contact has been created.</p>  
        </div>
        <div>
            <p>From: <%= @from %></p>
        </div>
        <div>
            <p>Message: <%= @message %></p>
        </div>
    </body>
</html>