<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <p>Hey there,</p>
  <p>
        Please use this token to reset your password.  Navigate to the "Forgot Password" section and supply the confirmation code below to make the swap.
  </p>
   <%= @token %>
   <br /><br />
   <p>Thanks again,
   <br />
   <br /> 
   <span>mgmt</span>
   <br />
   <i>Check Posture, Drink Water</i>
   <br />
   </p>
</body>
</html>