<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <p>Hey there,</p>
  <p>
    In the Account Info section please use this token to reset your phone number. 
  </p>
   <p>
        <%= @token %>
   </p>
   
</body>
</html>