/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    overflow-x: hidden;
}
*{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.2;
}
body{
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    background: #9d9a91;
    padding-right: 0 !important;
    margin-right: 0 !important;
    width: 100vw;
    
    overflow-x: hidden;
}
video{
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    scale: 1.5;
    opacity: .6;
}
label{
    font-weight: 600;
}
input{
    margin-bottom: 1rem;
}
input[type='checkbox']{
    margin-bottom: 0 !important;
}
textarea{
    margin-bottom: 1rem;
}
.footer-link-ele:hover,.footer-link-ele:focus{
    background-color: #666;
    color: #eee;
}
.footer-link-ele{
    border-radius: 3px;
    padding: 4px;
    color: #666
}
.remember-now-header{
    font-weight: 200;
    font-style: italic;
    font-size: 5rem;
    margin-bottom: 0;
    z-index: 30000;
    text-shadow: 2px 3px #9d9a91;
}
.header-and-para{
    position: absolute;
    top: 40vh;
    left: 5vw;
    color: black;
    /* text-shadow: 2px 2px black; */
    z-index: 30000;
}
.scroll-link, .scroll-link:hover, .scroll-link:focus{
    background: transparent !important;
}
.reminder-para{
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 1px 2px #9d9a91;
}
.black-background{
    /* background: #40d2b0; */
    /* margin-top: 26vh; */
    background: #9d9a91;
}
.blue-background{
    background: #009fff
}
.element-element{
    background: transparent;
}
.orange-background{
    background: darkorange;
}
.about-section-container{
    margin-left: 5rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about-section-element{
    width: 100%;
    margin-top: 7vh;
}
.about-section-element-2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
.about-section-para{
    width: 33%;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 200 !important;
}
li{
    font-size: 2rem;
    width: 90%;
}
label{
    margin-top: 0 !important;
    margin-right: 5px;
}
.fa{
    /* margin-left: 5px; */
}
.about-section-h2{
    font-size: 4rem;
    font-style: italic;
    font-weight: 200;
}
.about-section-h3{
    font-size: 3rem;
    width: 33vw;
    font-weight: 200 !important;
}
.about-section-bottom{
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: darkorange;
    font-weight: 200;
}
.account-info-attrs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.account-info-ele{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.account-info-label-and-attr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.phone-photo{
    width: 20vw;
    height: 20vw;
    background-image: url('phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-container{
    background: #eee;
    min-height: 50vh;
    height: 50vh;
}
.homepage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.router-container{
    display: flex;
}
.desk-photo{
    width: 40vw;
    height: 20vh;
    background-image: url('desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.bottom-text{
    font-weight: 200;
    font-size: 1.5rem;
    text-align: end;
    color: #3474aced;
    transform: translateX(100vw) skew(-10deg);
    transition: .2s;
}
.did-you-know{
    font-size: 2rem;
    margin: 0;
    margin-top: 5rem;
}
section{
    min-height: 98vh; 
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
.white-text{color: #333;}
.login-signup-header-button{
    width: 12rem;
    height: 3rem;
    background: #3474aced;;
    border: 2px solid black;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
    transform: skew(-12deg)
}
.activate-account-button{
    height: 2.5rem !important;
}
/* #change-email-button{
    background: #032057;;
    border: 2px solid black;
    color: white;
    border-radius: 3px;
    height: 35px;
    font-weight: 600;
    padding: 7px;
    cursor: pointer;
} */
.change-password-container{
    align-self: flex-start;
}
#delete-account-button{
    color: red;
    cursor: pointer;
}
#delete-account-button:hover{
    text-decoration: underline;
}
.login-button:hover, .login-button:focus, .create-account-button:hover, .create-account-button:focus, .activate-account-button:hover, .activate-account-button:focus, .submit-button:hover, .submit-button:focus, .change-schedule-button:hover, .change-schedule-button:focus{
    background: black;
    /* color: black; */
    border: 2px solid #032057;
    transition: .3s;
    /* padding-bottom: 10px; */
    padding-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}
.login-signup-header-button:hover, .login-signup-header-button:focus{
    background: black;
    /* color: black; */
    border: 2px solid #032057;
    transition: .3s;
    /* padding-bottom: 10px; */
    padding-left: -10px;
    font-weight: bold;
    text-decoration: underline;
}
.fancy-button-container{
    height: 3rem;
    display: flex;
    flex-direction: row;
    width: 15rem;
}
.exclaim-warning{
    color: red !important;
    border: 2px solid red !important;
    width: 0.75rem;
    display: flex;
    align-self: flex-end;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: .75rem;
    font-weight: 700;
}
.code-success{
    box-shadow: 0px 1px 4px 3px lightgreen;
    background: lightgreen;
    border: 0;
}
.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.skewed-strip{
    width: 1rem;
    height: 2.75rem;
    background: #3474aced;
    border: 2px solid black;
    transform: skew(-12deg);
    margin-right: .25rem;
    transition: .2s;
}
.scrolldown-header{
    font-weight: 800;
    position: absolute;
    bottom: -2rem;
    cursor: pointer;
    text-decoration: underline;
}
.scrolldown-header-2{
    font-weight: 800;
    position: absolute;
    bottom: -3.25rem;
    cursor: pointer;
    text-decoration: underline;
}
.scrolldown-header:hover,.scrolldown-header:focus,.scrolldown-header-2:hover,.scrolldown-header-2:focus{
    font-weight: 900;
    transform: translateY(-2px);
    color: #eee
}
.retract-spring{
    width: 5px !important;
    margin-right: 2px !important;
    border: 2px solid #032057 !important;
}
.signup-link, .go-back-button{
    font-weight: bold;
    border: transparent;
    background: transparent;
    cursor: pointer;
}
.go-back-button{
    align-self: flex-start;
}
.signup-link:hover, .signup-link:focus{
    text-decoration: underline;
    transform: translateY(-3px);
}
.login-container, .create-account-container, .activate-account-container, .account-container, .forgot-container, .reset-password-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 10vh;
}
.login-form-container, .create-account-form-container, .activate-account-form-container, .forgot-form-container, .reset-password-form-container{
    width: 33%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid #eee;
    background: #eee;
    box-shadow: 0px -1px 20px 0px rgba(125, 124, 124, 0.75);
}
.account-inner-container{
    width: 75%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;
    border: 2px solid #eee;
    background: #eee;
    min-height: 30rem;
    margin-top: 5rem;    
    box-shadow: 0px -1px 20px 0px rgba(125, 124, 124, 0.75);

}
.subscriptions-container, .account-info-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.focus-blend{
    background: #009fff !important;
    color: white !important;
    transition: .3s;
}
.login-button, .create-account-button, .activate-account-button, .submit-button{
    background: darkorange;
    height: 2.2rem;
    margin-top: 10px;
    cursor: pointer;
    width: 12rem;
    border-radius: 3px;
    width: 12rem;
    height: 3rem;
    border-radius: 4px;
    background: #3474aced;
    border: 2px solid #3474aced;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}
ul{
    list-style: circle;
    font-weight: 200;
}
.avaliable-reminder-list{
    margin-top: 1rem;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    width: 86%;
    align-self: center;
    border: 2px solid lightgrey;
}
.edit-reminder-schedule-button{
    cursor: pointer;
    background: transparent;
    border: transparent;
    margin-bottom: 1rem;
}
.edit-reminder-schedule-select{
    margin-bottom: 1rem;
}
.edit-reminder-schedule-form-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-control{
    line-height: 1.5 !important;
    height: 2rem !important;
    font-weight: 800;
}
.reminder-checkbox{
    cursor: pointer;
}
.reminder-ele{
    margin-bottom: 10px;
    min-height: 5rem;
}
.account-info-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.toggle-show-account-button, .logout-button{
    cursor: pointer;
    background: transparent;
    border: transparent;
}
.toggle-show-account-button{
    margin-right: 10px;
}
.header-logout-span{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.subscription-header{
    margin-bottom: 0;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.subscription-paragraph{
    margin-top: .5rem;
    margin-left: 1rem;
    padding-right: 2rem;
    color: #032057;
    opacity: .7;
}
.flex-col{display: flex;flex-direction: column;}
label{
    margin-top: 10px;
}
.login-form-span, .create-account-form-span{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.field-error{
    /* -webkit-box-shadow: 0px 0px 2px 2px rgba(251, 123, 123, 0.81); 
    box-shadow: 0px 0px 2px 2px rgba(251, 123, 123, 0.81); */
    border: 2px solid rgba(240, 53, 53, 0.81);
    box-shadow: 0px 0px 3px 0px rgba(240, 53, 53, 0.81);
    animation-name: shake; 
    animation-duration: .3s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
.about-section-text-shadow{
    /* text-shadow: 1px 1px #eee; */
}
#carrier-select, #timezone-select{
    background: white !important;
    width: 12rem;
    height: 2.5rem !important;
}
#scroll-down{
    font-style: italic;
    padding-left: 15px;
}
.circle{
    border: 1px solid darkgray;
    background: white;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    box-shadow: 0px 1px 1px 0px darkgray;
}
.account-activation-resend-code{
    margin-top: 1rem;
    cursor: pointer;
}
.activate-account-account-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.confirm-unconfirmed-email-container, .confirm-unconfirmed-phone-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: center;
    min-height: 15rem;
    margin-left: 1rem;
}
 .change-schedule-button{
    width: 8rem;
   
    cursor: pointer;
    transition: .3s;
    margin-bottom: 1rem;
    border-radius: 4px;
    background: #3474aced;
    border: 2px solid #3474aced;
    color: white;
    font-weight: 700;
} 
.change-email-loading-animation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
select, option button{cursor: pointer;}
hr{
    width: 98%;
    border: 1px solid lightgray;
}
.fa-pencil, #change-password-button{
    cursor: pointer;
}
.change-password-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.full-width{width: 100%;}
.good-to-go{align-self: center;}
.forgot-password-button, .reset-password-button, .transparent-bg{
   background: transparent;
   border: transparent;
}
.forgot-password-button:hover, .reset-password-button:hover,.forgot-password-button:focus, .reset-password-button:focus{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.forgot-reset-password-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 46%;
}
.forgot-password-paragraph-container{
    justify-content: center !important;
    align-items: center !important;
}
.forgot-password-paragraph{
    width: 80%;
}
.reset-password-submit-button-span{
    width: 12rem;
    margin-top: 1rem;
}
.forgot-password-submit-button-span{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-section{
    min-height: 50vh !important;
    height: 50vh !important;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-element{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20%;
}
.footer-element-inner{
    height: 100%;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.tooltip-bottom{
    height: 1rem;
    width: 1rem;
    background: #333;
    height: 1rem;
    width: 1rem;
    background: #333;
    transform: rotateZ(45deg);
    margin-top: -10px;
    z-index: -1;
    border-radius: 3px;
}
.tooltip-body{
    background: #333;
    padding: 5px;
    color: #eee;
    border-radius: 3px;
}
.tooltip-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 12rem;
}

.to-the-left{
    transform: translateX(-100vw);
    transition: .2s linear;
}
.to-the-right{
    transform: translateX(100vw);
    transition: .2s linear;
}
.where-it-should-be{
    transform: translateX(0vw);
    transition: .1s;
    transition-timing-function:ease-in-out
}
.where-it-should-be-skewed{
    transform: translateX(0vw) skew(-10deg);
    transition: .1s;
    transition-timing-function:ease-in-out
}
.full-opacity{
    opacity: 1 !important;
    transition: .4s ease-in;
}
.user-profile-container{
    display: flex;
    flex-direction: row;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.faded{opacity: 0;}
.loading-animation-container{
    width: 8rem;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #032057;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transition: .2s ease-in;
    animation-name: rotate; 
    animation-duration: 1.0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    scale: .25;
}
.loading-animation-container-outer{
    height: 8rem;
    width: 2rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
    margin-left: -8rem;
}
.set-unconfirmed-phone-loading-animation-outer{
    height: 8rem;
    width: 2rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.show-password-span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.green-underline{
    border-bottom: 2px solid green !important;
    color: green;
}
.yellow-underline{
    border-bottom: 2px solid gold;
    
}
.signup-container{
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.fa-check{
    color: green;
    border: 2px solid green;
    padding: 2px;
    border-radius: 50%;
    scale: .66;
}
.donate-footer-icon, .fa-linkedin, .fa-clipboard{
    font-size: 5rem;
    cursor: pointer;
}
.fa-coffee{
    cursor: pointer;
}
.footer-element-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.schedule-element{
    width: 5rem;
    padding-left: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 1px 0px darkgray;
}
.edit-reminder-schedule-form-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.login-header{
    font-size: 2rem;
}
.login-header-span{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
@keyframes shake{
    0%{
        transform: translateX(-3px)
    }
    20%{
        transform: translateX(3px)
    }
    40%{
        transform: translateX(-3px)
    }
    60%{
        transform: translateX(3px)
    }
    80%{
        transform: translateX(-3px)
    }
    100%{
        transform: translateX(0)
    }
}
@media only screen and (max-width: 1200px) {
    video{scale: 1; width: auto;}
    .reminder-para{padding-right: 1rem; line-height: 1.2;}
    .remember-now-header{font-size: 4rem;z-index: 30000;}
    .header-and-para{z-index: 30000;}
    .about-section-container{margin-left: 0;}
    .about-section-h2{font-size: 3.5rem; margin-left: 1rem; margin-top: 11vh;}
    .about-section-element-2{flex-direction: column; align-items: center;}
    .phone-photo{width: 80vw; height: 80vw;}
    .about-section-para{width: 68%;}
    .about-section-h3{font-size: 2rem;width: 98vw; margin-left: 1rem;}
    li{font-size: 1.5rem;}
    .about-list{flex-direction: column;}
    .desk-photo{width: 105vw; margin-left: 45vw;}
    .bottom-text{font-size: 1rem; margin-left: 1rem;}
    .login-form-container, .create-account-form-container, .forgot-form-container, .reset-password-form-container{
        width: 75%;
    }
    .footer-element{
        width: 98%;
    }
    .footer-element-inner{
        width: 100%;
    }
    .footer-header{
        margin-left: 2rem;
        align-self: flex-start;
    }
    .contact-form{
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    .footer-container{flex-direction: column; height: auto !important;}
    .footer-section{height: auto !important;}
    .schedule-container-inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }
  }