/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    overflow-x: hidden;
}
*{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.2;
}
body{
    padding-left: 0;
    margin-left: 0;
}
video{
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    scale: 1.5;
}
label{
    font-weight: 600;
}
.remember-now-header{
    font-weight: 600;
    font-style: italic;
    font-size: 5rem;
    margin-bottom: 0;
    z-index: 30000;
}
.header-and-para{
    position: absolute;
    top: 40vh;
    left: 5vw;
    color: black;
    /* text-shadow: 2px 2px black; */
    z-index: 30000;
}
.reminder-para{
    font-weight: 600;
    font-size: 1.5rem;
}
.black-background{
    background: black;
    /* margin-top: 26vh; */
    margin-left: -15px;
}
.blue-background{
    background: #009fff
}
.orange-background{
    background: darkorange;
}
.about-section-container{
    margin-left: 5rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about-section-element{
    width: 100%;
    margin-top: 7vh;
}
.about-section-element-2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
.about-section-para{
    width: 33%;
    font-size: 2rem;
    line-height: 1.2;
}
li{
    font-size: 2rem;
    width: 90%;
}
label{
    margin-top: 0 !important;
    margin-right: 5px;
}
.fa{
    margin-left: 5px;
}
.about-section-h2{
    font-size: 4rem;
    font-style: italic;
}
.about-section-h3{
    font-size: 3rem;
    width: 33vw;
}
.about-section-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: darkorange;
}
.account-info-attrs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.account-info-ele{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.account-info-label-and-attr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.phone-photo{
    width: 20vw;
    height: 20vw;
    background-image: url('phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.desk-photo{
    width: 40vw;
    height: 20vh;
    background-image: url('desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.bottom-text{
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: 10vw;
    color: darkorange;
}
section{
    min-height: 98vh; 
    width: 103vw;
    overflow-x: hidden;
}
.white-text{color: white;}
.login-signup-header-button{
    width: 12rem;
    height: 3rem;
    background: black;
    border: 2px solid #009fff;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
    transform: skew(-12deg)
}
#change-email-button{
    background: black;
    border: 2px solid #009fff;
    color: white;
    border-radius: 3px;
    height: 35px;
    font-weight: 600;
    padding: 7px;
    cursor: pointer;
}
.change-password-container{
    align-self: flex-start;
}
#delete-account-button{
    color: red;
    cursor: pointer;
}
#delete-account-button:hover{
    text-decoration: underline;
}
.login-signup-header-button:hover, .login-signup-header-button:focus, .login-button:hover, .login-button:focus, .create-account-button:hover, .create-account-button:focus, .activate-account-button:hover, .activate-account-button:focus{
    background: #009fff;
    /* color: black; */
    border: 2px solid black;
    transition: .3s;
    /* padding-bottom: 10px; */
    padding-right: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.fancy-button-container{
    height: 3rem;
    display: flex;
    flex-direction: row;
    width: 15rem;
}
.exclaim-warning{
    color: red !important;
    border: 2px solid red !important;
    width: 0.75rem;
    display: flex;
    align-self: flex-end;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: .75rem;
    font-weight: 700;
}
.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.skewed-strip{
    width: 1rem;
    height: 2.75rem;
    background: black;
    border: 2px solid #009fff;
    transform: skew(-12deg);
    margin-right: .25rem;
}
.login-container, .create-account-container, .activate-account-container, .account-container, .forgot-container, .reset-password-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
.login-form-container, .create-account-form-container, .activate-account-form-container, .forgot-form-container, .reset-password-form-container{
    width: 33%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid #009fff;
    background: white;
}
.account-inner-container{
    width: 33%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;
    border: 2px solid #009fff;
    background: white;
    min-height: 30rem;
}
.subscriptions-container, .account-info-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.focus-blend{
    background: #009fff !important;
    color: white !important;
    transition: .3s;
}
.login-button, .create-account-button, .activate-account-button{
    background: darkorange;
    height: 2.2rem;
    margin-top: 10px;
    cursor: pointer;
    width: 12rem;
    border-radius: 3px;
    width: 12rem;
    height: 3rem;
    border-radius: 4px;
    background: #009fff;
    border: 2px solid #009fff;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}
.avaliable-reminder-list{
    margin-top: 1rem;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    width: 86%;
    align-self: center;
    border: 2px solid lightgrey;
}
.edit-reminder-schedule-button{
    cursor: pointer;
}
.edit-reminder-schedule-form-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-control{
    line-height: 1.5 !important;
    height: 2rem !important;
    font-weight: 800;
}
.reminder-checkbox{
    cursor: pointer;
}
.reminder-ele{
    margin-bottom: 10px;
}
.account-info-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.toggle-show-account-button{
    cursor: pointer;
}
.subscription-header{
    margin-bottom: 0;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.subscription-paragraph{
    margin-top: .5rem;
    margin-left: 1rem;
    padding-right: 2rem;
}
.flex-col{display: flex;flex-direction: column;}
label{
    margin-top: 10px;
}
.login-form-span, .create-account-form-span{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.field-error{
    /* -webkit-box-shadow: 0px 0px 2px 2px rgba(251, 123, 123, 0.81); 
    box-shadow: 0px 0px 2px 2px rgba(251, 123, 123, 0.81); */
    border: 2px solid rgba(255, 49, 49, 0.81);
}
#carrier-select, #timezone-select{
    background: white !important;
    width: 12rem;
    height: 2.5rem !important;
}
#scroll-down{
    font-style: italic;
}
.circle{
    border: 1px solid darkgray;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
}
.confirm-unconfirmed-email-container, .confirm-unconfirmed-phone-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: center;
    min-height: 15rem;
    margin-left: 1rem;
}
.change-schedule-button{
    width: 8rem;
    /* height: 2rem;
    background: black;
    border: 2px solid #009fff;
    color: white; */
    cursor: pointer;
    transition: .3s;
    /* transform: skew(-12deg); */
    margin-top: 1rem;
    background: white;
    border-color: black;
    font-weight: 700;
}
select, option button{cursor: pointer;}
hr{
    width: 98%;
    border: 1px solid lightgray;
}
.fa-pencil, #change-password-button{
    cursor: pointer;
}
.change-password-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.full-width{width: 100%;}
.good-to-go{align-self: center;}
.forgot-password-button{
   
}
.forgot-reset-password-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 46%;
}
.forgot-password-paragraph-container{
    justify-content: center !important;
    align-items: center !important;
}
.forgot-password-paragraph{
    width: 80%;
}
.forgot-password-submit-button-span, .reset-password-submit-button-span{
    width: 12rem;
    margin-top: 1rem;
}
@media only screen and (max-width: 600px) {
    video{scale: 5;}
    .remember-now-header{font-size: 2rem;z-index: 30000;}
    .header-and-para{top: 10vh;z-index: 30000;}
    .about-section-container{margin-left: 0;}
    .about-section-h2{font-size: 2rem; margin-left: 1rem; margin-top: 11vh;}
    .about-section-element-2{flex-direction: column; align-items: center;}
    .phone-photo{width: 80vw; height: 80vw;}
    .about-section-para{width: 68%;}
    .about-section-h3{font-size: 2rem;width: 98vw; margin-left: 1rem;}
    li{font-size: 1.5rem;}
    .about-list{flex-direction: column;}
    .desk-photo{width: 105vw; margin-left: 45vw;}
    .bottom-text{font-size: 1rem; margin-left: 1rem; margin-top: 5rem;}
  }